* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Anton', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 5.5rem;
    margin-top: 1rem;
    letter-spacing: .3rem;
}

h6 {
    margin-bottom: 2rem;
}

.faded {
    opacity: 0.5;
}

.transparent {
    opacity: 0.0 !important;
    pointer-events: none !important;
}

.gameOver {
    background-color: black;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}



.inline-block {
    display: inline-block;
}

.overlap-card {
    margin-left: -4rem;
}

.card-scene {
    width: 130px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    perspective: 800px;
    display: inline-block;
    transition: all .5s ease-in;
}

.card {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    transition: all .5s ease-in;
    transform-style: preserve-3d;
}

.card-face {
    width: 130px;
    height: auto;
    margin-bottom: 0;
    border: none;
    position: absolute;
      -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
  background: url("./images/cards/blue_black.png");
  transform: rotateY( 180deg );
}

.is-flipped {
    transform: rotateY(180deg);
}

.playerInfo {
    display: inline-block;
}

.arrows {
    width: 2rem;
    display: inline-block;
}

.circle {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    border-radius: 50%;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
}

.info-area {
    margin-top: 1.5rem;
    display: inline-block;
}

#game-start-background {
    opacity: 1.0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease-in-out;
}

#heading-area {
    height: 15vh;
}

#gameplay-area {
    height: 75vh;
}

#scoring-area {
    height: 10vh;
}

#playerBetArea {
    transition: all 0.3s ease-in-out;
}

#playerBetSelection {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

#bet {
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#heading {
    text-align: center;
}

#deck {
    width: 8rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #dealer-area {
    height: 100%;
} */

#info-modal-background {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 150vh;
    width: 150vw;
    padding: 2rem;
    background: radial-gradient(#343A40 1%, transparent 99%);
    border-radius: 100%;
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
}

.clear-modal {
    opacity: 0.0 !important;
    pointer-events: none;
}

#info-modal-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    height: 150vh;
    width: 150vw;
    padding: 2rem;
    border-radius: 100%;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
}

#modal-message {
    font-size: 72px;
}

#action-area {
    text-align: center;
}